<div class="container">

  <div class="heading-container">
  <h3>Insert Your URL Below</h3>
  </div>

  <div class="form-container">

    <%= form_for @res , url: create_url_path, remote: true  do |f|  %>

        <%= f.text_field :url, class: 'input-url' %>
        <%= f.submit "SHORTEN", class: 'btn btn-primary' %>

    <% end %>

    <div class="row result">
      <div id="result_div"></div>
    </div>

  </div>
</div>